name: verify

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      # - name: Set up Rust (latest)
      #   run: |
      #     rustup set profile minimal
      #     rustup install nightly
      #     rustup override set nightly

      - name: "Setup necessary system dependencies"
        run: sudo apt update -y && sudo apt install libxml2-dev libxslt-dev -y

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: "Cache uv build output"
        uses: actions/cache@v3
        with:
          path: |
            .uv  # uv cache/build folder
          key: ${{ runner.os }}-uv-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-uv-

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
          GH_PAT: ${{ secrets.GH_PAT }}
        run: python verify.py

      - name: "Cache verify helper output"
        uses: actions/cache@v3
        with:
          path: .verify-helper
          key: ${{ runner.os }}-verify-helper
